## Data Transformation

**Business challenge/requirement:**<br>
You are a data analyst with University of Cal USA (Not a machine learning expert yet as you still have not completed ML with Python Course -_-).The University has data of Math, Physics and Data Structure score of sophomore students. This data is stored in different files. The University has hired a data science company to do analysis of scores and find if there is any correlation of score with age, ethnicity etc. Before the data is given to the company you have to do data wrangling.

### 1. Read the three csv files which contains the score of same students in term1 for each Subject.

In [44]:
import pandas as pd
import numpy as np

# Reading/loading the 3 CSV files
math_df = pd.read_csv("datasets/MathScoreTerm1.csv")
phy_df = pd.read_csv("datasets/PhysicsScoreTerm1.csv")
ds_df = pd.read_csv("datasets/DSScoreTerm1.csv")

### 2. Remove the 'Name' and 'Ethinicity' column (to ensure confidentiality).

In [45]:
math_df = math_df.drop(['Name', 'Ethinicity'], axis='columns')
phy_df = phy_df.drop(['Name', 'Ethinicity'], axis='columns')
ds_df = ds_df.drop(['Name', 'Ethinicity'], axis='columns')

### 3. Fill missing 'Score' data with zero.

In [46]:
math_df['Score'] = math_df['Score'].fillna(0)
phy_df['Score'] = phy_df['Score'].fillna(0)
ds_df['Score'] = ds_df['Score'].fillna(0)

# Missing Values have been fixed

In [47]:
math_df.isnull().sum()

Score      0
Age        0
Subject    0
Sex        0
ID         0
dtype: int64

### 4. Merge the three files.

In [48]:
all_subs = [math_df, phy_df, ds_df]
all_subs

[     Score  Age Subject Sex   ID
 0     88.0   18   Maths   M    1
 1     85.0   19   Maths   M    2
 2     45.0   19   Maths   M    3
 3     82.0   18   Maths   M    4
 4     82.0   18   Maths   F    5
 ..     ...  ...     ...  ..  ...
 594   45.0   19   Maths   F  595
 595   75.0   18   Maths   M  596
 596   53.0   20   Maths   M  597
 597   75.0   20   Maths   M  598
 598   88.0   19   Maths   M  599

 [599 rows x 5 columns],
      Score  Age  Subject Sex   ID
 0     84.0   18  Physics   M    1
 1     81.0   19  Physics   M    2
 2     41.0   19  Physics   M    3
 3     78.0   18  Physics   M    4
 4     78.0   18  Physics   F    5
 ..     ...  ...      ...  ..  ...
 594   41.0   19  Physics   F  595
 595   71.0   18  Physics   M  596
 596   49.0   20  Physics   M  597
 597   71.0   20  Physics   M  598
 598   69.0   19  Physics   M  599

 [599 rows x 5 columns],
      Score  Age        Subject Sex   ID
 0     82.0   18  Data Structue   M    1
 1     79.0   19  Data Structue   M    2
 2     39.0   19  Data Structue   M    3
 3     76.0   18  Data Structue   M    4
 4     76.0   18  Data Structue   F    5
 ..     ...  ...            ...  ..  ...
 594   39.0   19  Data Structue   F  595
 595   69.0   18  Data Structue   M  596
 596   47.0   20  Data Structue   M  597
 597   69.0   20  Data Structue   M  598
 598    0.0   19  Data Structue   M  599

 [599 rows x 5 columns]]

### 5. Change 'Sex(M/F)' Column to 1 or 2 for further analysis. Where M is 1 and F is 2.

In [49]:
for data in all_subs:
    data['Sex'] = data['Sex'].map({'M':1, 'F':2}).astype(int)
    
final_data = pd.concat(all_subs)

final_data

     Score  Age        Subject  Sex   ID
0     88.0   18          Maths    1    1
1     85.0   19          Maths    1    2
2     45.0   19          Maths    1    3
3     82.0   18          Maths    1    4
4     82.0   18          Maths    2    5
..     ...  ...            ...  ...  ...
594   39.0   19  Data Structue    2  595
595   69.0   18  Data Structue    1  596
596   47.0   20  Data Structue    1  597
597   69.0   20  Data Structue    1  598
598    0.0   19  Data Structue    1  599

[1797 rows x 5 columns]

### 6. Store the data in new file as ScoreFinal.csv.

In [51]:
final_data.to_csv("datasets/processed/ScoreFinal.csv",index=False)
print("File saved Successfully!")

File saved Successfully!

---