## Random Forest - Regression

### Case Study (CS-28)

---

### Importing libraries and loading dataset

In [15]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv('datasets/petrol_consumption.csv')
df.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Petrol_tax                    48 non-null     float64
 1   Average_income                48 non-null     int64
 2   Paved_Highways                48 non-null     int64
 3   Population_Driver_licence(%)  48 non-null     float64
 4   Petrol_Consumption            48 non-null     int64
dtypes: float64(2), int64(3)
memory usage: 2.0 KB

In [18]:
df.describe()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
count,48.000000,48.000000,48.000000,48.000000,48.000000
mean,7.668333,4241.833333,5565.416667,0.570333,576.770833
std,0.950770,573.623768,3491.507166,0.055470,111.885816
min,5.000000,3063.000000,431.000000,0.451000,344.000000
25%,7.000000,3739.000000,3110.250000,0.529750,509.500000
50%,7.500000,4298.000000,4735.500000,0.564500,568.500000
75%,8.125000,4578.750000,7156.000000,0.595250,632.750000
max,10.000000,5342.000000,17782.000000,0.724000,968.000000

### Creating x and y variable

In [19]:
x = df.iloc[:,0:4].values
x

array([[9.0000e+00, 3.5710e+03, 1.9760e+03, 5.2500e-01],
       [9.0000e+00, 4.0920e+03, 1.2500e+03, 5.7200e-01],
       [9.0000e+00, 3.8650e+03, 1.5860e+03, 5.8000e-01],
       [7.5000e+00, 4.8700e+03, 2.3510e+03, 5.2900e-01],
       [8.0000e+00, 4.3990e+03, 4.3100e+02, 5.4400e-01],
       [1.0000e+01, 5.3420e+03, 1.3330e+03, 5.7100e-01],
       [8.0000e+00, 5.3190e+03, 1.1868e+04, 4.5100e-01],
       [8.0000e+00, 5.1260e+03, 2.1380e+03, 5.5300e-01],
       [8.0000e+00, 4.4470e+03, 8.5770e+03, 5.2900e-01],
       [7.0000e+00, 4.5120e+03, 8.5070e+03, 5.5200e-01],
       [8.0000e+00, 4.3910e+03, 5.9390e+03, 5.3000e-01],
       [7.5000e+00, 5.1260e+03, 1.4186e+04, 5.2500e-01],
       [7.0000e+00, 4.8170e+03, 6.9300e+03, 5.7400e-01],
       [7.0000e+00, 4.2070e+03, 6.5800e+03, 5.4500e-01],
       [7.0000e+00, 4.3320e+03, 8.1590e+03, 6.0800e-01],
       [7.0000e+00, 4.3180e+03, 1.0340e+04, 5.8600e-01],
       [7.0000e+00, 4.2060e+03, 8.5080e+03, 5.7200e-01],
       [7.0000e+00, 3.7180e+03, 4.7250e+03, 5.4000e-01],
       [7.0000e+00, 4.7160e+03, 5.9150e+03, 7.2400e-01],
       [8.5000e+00, 4.3410e+03, 6.0100e+03, 6.7700e-01],
       [7.0000e+00, 4.5930e+03, 7.8340e+03, 6.6300e-01],
       [8.0000e+00, 4.9830e+03, 6.0200e+02, 6.0200e-01],
       [9.0000e+00, 4.8970e+03, 2.4490e+03, 5.1100e-01],
       [9.0000e+00, 4.2580e+03, 4.6860e+03, 5.1700e-01],
       [8.5000e+00, 4.5740e+03, 2.6190e+03, 5.5100e-01],
       [9.0000e+00, 3.7210e+03, 4.7460e+03, 5.4400e-01],
       [8.0000e+00, 3.4480e+03, 5.3990e+03, 5.4800e-01],
       [7.5000e+00, 3.8460e+03, 9.0610e+03, 5.7900e-01],
       [8.0000e+00, 4.1880e+03, 5.9750e+03, 5.6300e-01],
       [9.0000e+00, 3.6010e+03, 4.6500e+03, 4.9300e-01],
       [7.0000e+00, 3.6400e+03, 6.9050e+03, 5.1800e-01],
       [7.0000e+00, 3.3330e+03, 6.5940e+03, 5.1300e-01],
       [8.0000e+00, 3.0630e+03, 6.5240e+03, 5.7800e-01],
       [7.5000e+00, 3.3570e+03, 4.1210e+03, 5.4700e-01],
       [8.0000e+00, 3.5280e+03, 3.4950e+03, 4.8700e-01],
       [6.5800e+00, 3.8020e+03, 7.8340e+03, 6.2900e-01],
       [5.0000e+00, 4.0450e+03, 1.7782e+04, 5.6600e-01],
       [7.0000e+00, 3.8970e+03, 6.3850e+03, 5.8600e-01],
       [8.5000e+00, 3.6350e+03, 3.2740e+03, 6.6300e-01],
       [7.0000e+00, 4.3450e+03, 3.9050e+03, 6.7200e-01],
       [7.0000e+00, 4.4490e+03, 4.6390e+03, 6.2600e-01],
       [7.0000e+00, 3.6560e+03, 3.9850e+03, 5.6300e-01],
       [7.0000e+00, 4.3000e+03, 3.6350e+03, 6.0300e-01],
       [7.0000e+00, 3.7450e+03, 2.6110e+03, 5.0800e-01],
       [6.0000e+00, 5.2150e+03, 2.3020e+03, 6.7200e-01],
       [9.0000e+00, 4.4760e+03, 3.9420e+03, 5.7100e-01],
       [7.0000e+00, 4.2960e+03, 4.0830e+03, 6.2300e-01],
       [7.0000e+00, 5.0020e+03, 9.7940e+03, 5.9300e-01]])

In [20]:
y = df.iloc[:,4].values
y

array([541, 524, 561, 414, 410, 457, 344, 467, 464, 498, 580, 471, 525,
       508, 566, 635, 603, 714, 865, 640, 649, 540, 464, 547, 460, 566,
       577, 631, 574, 534, 571, 554, 577, 628, 487, 644, 640, 704, 648,
       968, 587, 699, 632, 591, 782, 510, 610, 524], dtype=int64)

### Creating Train-Test split

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state=0)
print("X_train shape = {}.".format(X_train.shape))
print("X_test shape = {}.".format(X_test.shape))

X_train shape = (36, 4).
X_test shape = (12, 4).

### Feature Scaling

In [22]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
print (X_test)

[[ 1.30515733 -1.41702663 -0.25500891 -1.54478042]
 [ 0.33478013  0.15042711 -1.44840819 -0.63777152]
 [ 0.33478013 -1.71755347 -0.04314447 -0.56663356]
 [-0.63559706 -1.34042174  0.3828473  -1.10016821]
 [ 0.33478013 -2.47378115  0.27507647 -0.03309891]
 [-0.63559706 -0.83561522  0.23575851  0.109177  ]
 [ 0.33478013 -1.56041525 -0.58171575 -1.65148735]
 [-0.63559706  0.24863849 -0.25812041  0.82055653]
 [ 0.33478013  1.57842067 -0.96556093 -0.47771112]
 [ 0.33478013  0.13471329  0.10960158 -0.88675435]
 [-0.15040847  1.57842067  2.44237329 -0.97567679]
 [-0.63559706 -1.94343966  0.29487689 -1.18909066]]

### Creating the model

In [23]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

### Evaluating error

In [24]:
from sklearn import metrics

print('Mean Absolute Error: {}.'.format(metrics.mean_absolute_error(y_test, y_pred)))
print('Mean Squared Error: {}.'.format(metrics.mean_squared_error(y_test, y_pred)))
print('Root Mean Squared Error: {}.'.format(np.sqrt(metrics.mean_squared_error(y_test, y_pred))))

Mean Absolute Error: 58.25833333333333.
Mean Squared Error: 4823.389166666667.
Root Mean Squared Error: 69.45062394728119.

---