## Supervised Learning 
### Case Study - 5 (CS 34)

**Objective:**

>**1. Practice Naive Bayes algorithm based classification.<br><br>
>2. Identify the predictors that can be of influence by experiment.**

### Importing libraries

In [62]:
import pandas as pd

### Q1. Load the kinematics dataset as measured on mobile sensors from the file “run_or_walk.csv”. List out the columns in the dataset.

In [63]:
df = pd.read_csv("datasets/run_or_walk.csv")
df

,date,time,username,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,viktor,0,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,viktor,0,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,viktor,0,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,viktor,0,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,viktor,0,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922
...,...,...,...,...,...,...,...,...,...,...,...
88583,2017-7-9,20:9:15:317911028,viktor,0,0,0.3084,-0.8376,-0.1327,0.4823,2.0124,0.6048
88584,2017-7-9,20:9:15:517889022,viktor,0,0,0.4977,-1.0027,-0.4397,0.1022,-1.2565,-0.0761
88585,2017-7-9,20:9:15:717828989,viktor,0,0,0.4587,-1.1780,-0.2827,-1.4500,-0.2792,-1.2616
88586,2017-7-9,20:9:15:917932987,viktor,0,0,0.2590,-0.8582,-0.0759,-1.5165,0.4560,-1.7755
88587,2017-7-9,20:9:16:117410004,viktor,0,0,0.3140,-0.8008,-0.0911,0.1183,1.0850,1.2814

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88588 entries, 0 to 88587
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            88588 non-null  object
 1   time            88588 non-null  object
 2   username        88588 non-null  object
 3   wrist           88588 non-null  int64
 4   activity        88588 non-null  int64
 5   acceleration_x  88588 non-null  float64
 6   acceleration_y  88588 non-null  float64
 7   acceleration_z  88588 non-null  float64
 8   gyro_x          88588 non-null  float64
 9   gyro_y          88588 non-null  float64
 10  gyro_z          88588 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 7.4+ MB

In [65]:
df.isnull().sum()

date              0
time              0
username          0
wrist             0
activity          0
acceleration_x    0
acceleration_y    0
acceleration_z    0
gyro_x            0
gyro_y            0
gyro_z            0
dtype: int64

In [66]:
df.describe()

,wrist,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
count,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000,88588.000000
mean,0.522170,0.500801,-0.074811,-0.562585,-0.313956,0.004160,0.037203,0.022327
std,0.499511,0.500002,1.009299,0.658458,0.486815,1.253423,1.198725,1.914423
min,0.000000,0.000000,-5.350500,-3.299000,-3.753800,-4.430600,-7.464700,-9.480000
25%,0.000000,0.000000,-0.381800,-1.033500,-0.376000,-0.920700,-0.644825,-1.345125
50%,1.000000,1.000000,-0.059500,-0.759100,-0.221000,0.018700,0.039300,0.006900
75%,1.000000,1.000000,0.355500,-0.241775,-0.085900,0.888800,0.733700,1.398200
max,1.000000,1.000000,5.603300,2.668000,1.640300,4.874200,8.498000,11.266200

In [67]:
# Listing columns from the datset

df.columns

Index(['date', 'time', 'username', 'wrist', 'activity', 'acceleration_x',
       'acceleration_y', 'acceleration_z', 'gyro_x', 'gyro_y', 'gyro_z'],
      dtype='object')

---

### Q2. Let the target variable ‘y’ be the activity and assign all the columns after it to ‘x’.

In [68]:
from sklearn.model_selection import train_test_split

X, y = df.iloc[:, 5:].values,df.iloc[:, 4].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

print("X_train shape: {}.".format(X_train.shape))

X_train shape: (70870, 6).

---

### Q3. Using Scikit-learn fit a Gaussian Naive Bayes model and observe the accuracy. Generate a classification report using scikit learn.

In [69]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
classifier = GaussianNB()

classifier.fit(X_train,y_train)

GaussianNB()

### Predictions

In [70]:
y_predict = classifier.predict(X_test)
print("Predictions:\n{}".format(y_predict))

Predictions:
[0 0 0 ... 0 1 1]

### Accuracy Score

In [71]:
print("Accuracy score: {}".format(accuracy_score(y_predict, y_test)))

Accuracy score: 0.9554690145614629

### Confusion matrix

In [72]:
from sklearn.metrics import confusion_matrix

confuse_mat =confusion_matrix(y_predict,y_test)

print("Confusion matrix:\n{}".format(confuse_mat))

Confusion matrix:
[[8583  699]
 [  90 8346]]

### Classification report

In [73]:
from sklearn.metrics import classification_report

target_names = ["Walk","Run"]

class_report = classification_report(y_test, y_predict, target_names=target_names)

print("Classification report:\n{}".format(class_report))

Classification report:
              precision    recall  f1-score   support

        Walk       0.92      0.99      0.96      8673
         Run       0.99      0.92      0.95      9045

    accuracy                           0.96     17718
   macro avg       0.96      0.96      0.96     17718
weighted avg       0.96      0.96      0.96     17718

---

### Create Model with acceleration values as predictors.

**Checking data**

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88588 entries, 0 to 88587
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            88588 non-null  object
 1   time            88588 non-null  object
 2   username        88588 non-null  object
 3   wrist           88588 non-null  int64
 4   activity        88588 non-null  int64
 5   acceleration_x  88588 non-null  float64
 6   acceleration_y  88588 non-null  float64
 7   acceleration_z  88588 non-null  float64
 8   gyro_x          88588 non-null  float64
 9   gyro_y          88588 non-null  float64
 10  gyro_z          88588 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 7.4+ MB

### Train Test Split – Select Columns 5, 6,7 - Acceleration Column.

In [75]:
X, y = df.iloc[:, [5,6,7]].values,df.iloc[:, 4].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

print("X_train shape: {}".format(X_train.shape))

X_train shape: (70870, 3)

### Creating model

In [76]:
classifier.fit(X_train,y_train)

GaussianNB()

### Predicting

In [77]:
y_pred = classifier.predict(X_test)
print("Prediction:\n{}".format(y_pred))

Prediction:
[0 0 0 ... 1 1 1]

### Accuracy Score

In [78]:
print("Accuracy score: {}".format(accuracy_score(y_predict,y_test)))

Accuracy score: 0.9554690145614629

### Confusion matrix

In [79]:
confuse_mat =confusion_matrix(y_predict,y_test)
print("Confusion matrix:\n{}".format(confuse_mat))

Confusion matrix:
[[8583  699]
 [  90 8346]]

### Classification report

In [80]:
from sklearn.metrics import classification_report
target_names = ["Walk","Run"]
class_report =classification_report(y_test, y_predict, target_names=target_names)

print("Classification report:\n{}".format(class_report))

Classification report:
              precision    recall  f1-score   support

        Walk       0.92      0.99      0.96      8673
         Run       0.99      0.92      0.95      9045

    accuracy                           0.96     17718
   macro avg       0.96      0.96      0.96     17718
weighted avg       0.96      0.96      0.96     17718

---

### Create Model with gyro values as predictors.

### Train Test Split – Select Columns 8,9,10

In [81]:
from sklearn.model_selection import train_test_split
X, y = df.iloc[:, [8,9,10]].values,df.iloc[:, 4].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

print("X_train shape = {}".format(X_train.shape))

X_train shape = (70870, 3)

### Creating model

In [82]:
classifier.fit(X_train,y_train)

GaussianNB()

### Predicting

In [83]:
y_pred = classifier.predict(X_test)
print("Prediction:\n{}".format(y_pred))

Prediction:
[0 0 0 ... 0 0 1]

### Accuracy Score

In [84]:
print("Accuracy score: {}".format(accuracy_score(y_predict,y_test)))

Accuracy score: 0.9554690145614629

### Confusion matrix

In [85]:
confuse_mat =confusion_matrix(y_predict,y_test)
print("Confusion matrix:\n{}".format(confuse_mat))

Confusion matrix:
[[8583  699]
 [  90 8346]]

### Classification report

In [86]:
from sklearn.metrics import classification_report
target_names = ["Walk","Run"]
class_report =classification_report(y_test, y_predict, target_names=target_names)

print("Classification report:\n{}".format(class_report))

Classification report:
              precision    recall  f1-score   support

        Walk       0.92      0.99      0.96      8673
         Run       0.99      0.92      0.95      9045

    accuracy                           0.96     17718
   macro avg       0.96      0.96      0.96     17718
weighted avg       0.96      0.96      0.96     17718

---